:root {
  /*як селектор html для index.html
  Робимо об'яву своїх перемінних:*/
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;

  --secondary-bckgr-color: #2f303a;
  --secondary-grey-color: rgba(255, 255, 255, 0.6);
  --social-grey-color:  rgba(255, 255, 255, 0.1);
  --field-color:  rgba(47, 48, 58, 0.8);
  --thumb-c-color: rgba(33, 150, 243, 0.9);  /* Голубой #2196f3 (33, 150, 243) 90% */
 
  --secondary-black-color: #000000;
  --button-bckgr-color: #f5f4fa;
  --social-color: #AFB1B8;
  --no-color: #00; /* 00 - полностью прозрачный */
  --noel-color: rgba(0, 0, 0, 0.1);
  --butn-background: #E5E5E5;

  --timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}


body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);

  font-family: Roboto, Raleway, sans-serif;
  /*щрифт без насічок*/
  /*letter-spacing: 0.15em;   Унаслідковуване*/
}

.container {
  /*  центрування  */
  /*margin: 0 auto;*/
  margin-left: auto;
  margin-right: auto;
  width: 1200px; /* 1170 + 15 + 15 */
  padding-left: 15px;
  padding-right: 15px;


  /*outline: 2px solid tomato; /* слой */
  /* background-color: #fffbbb; / завжди використовуватити в роботі з container*/
}

/*  margin: 0 auto;  */

img {
  /*зняти margin в картиках*/
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/*{ display: inline-block; /Превращает любой элемент в строчный, простой  текст */

/**** Site-nav  */
.menu-nv {
  position: relative;     /*модальне вікго ? */
  display: flex;
  height: 80px;
  align-items: center;
}

.list {
  padding: 0; /* або пройтись через ліву крайню кнопку в F12 */
  margin: 0; /* або пройтись через ліву крайню кнопку в F12 */
           
  /* class для сброса стиля, например, точек при uL 
  и link для можно так же. M.2,Веб.З: 1.42.20 */
  list-style: none; 
}

/* logo */
.logo {
  display: inline-flex;
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none; /*праює тільки зі ссилками*/
 }

.logo-black {
  margin-right: 93px; 
  color: var(--secondary-black-color);
}

.site-nav .link,
.aus-nav .link {
  
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* очистка крайньої геометрії, 3-й варіант*/
.site-nav .li-site-nav + .li-site-nav { 
   margin-left: 50px; 
}

.site-nav {
  display: inline-flex;
}
.site-nav .current{
  display: block; /* зняти зазор перед елементом справа (для inline block - не застосовується)*/
  color: var(--accent-color);
  transition: color 250ms  var(--timing-function),
              opacity 250ms  var(--timing-function);
}
.site-nav .link:hover,
.site-nav .current:focus {
  color: var(--accent-color);
  text-decoration: none; /*праює тільки зі ссилками*/

}

/* контакти:іконки mail-tel */
/* svg */

.cnts-e-icon {        /* <swg> */
  margin-right: 10px;
  /*width: 16px;
  height: 12px;*/
  fill: var(--primary-text-color);

}
.e-mail {             /* <a> */
  display: flex;
  align-items: center;
}

.cnts-s-icon {        /* <swg> */
  margin-right:10px;   
  /*width: 10px;
  height: 16px;*/
  fill: var(--title-text-color); /* перед цим з sprite.svg видалити fill */
}   
.smartphon {            /* <a> */
  display: flex;
  align-items: center;
}

.mail-smartf {    /* <li>  */
  display: flex;  
  align-items: center; 
 /* background-color: var(--social-grey-color);*/
 }

.mail-smartf .link  {
  display: flex;  /* зняти зазор перед елементом справа (для inline block - не застосовується) */
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
.aus-nav {     /* <ul> */
  display: flex;
  margin-left: auto;
}
.aus-nav .mail-smartf + .mail-smartf {    /* <li>  */
  margin-left: 30px;

}

.aus-nav .e-mail:hover .cnts-e-icon,
.aus-nav .smartphon:hover .cnts-s-icon {
  fill: var(--accent-color);
  transition: fill 250ms  var(--timing-function),
  opacity 250ms  var(--timing-function);
}
.aus-nav .e-mail:hover, 
.aus-nav .e-mail:focus, 
.aus-nav .smartphon:hover,
.aus-nav .smartphon:focus {
 color: var(--accent-color);
}

/* :: finger і підкреслювання */
/*.finger::after {
  background-image: url("../images/finger.svg");    /*фонове зображення  /
  fill: var(--social-color); / перед цим з sprite.svg видалити fill /
}
.finger:hover::after {
  background-image: url("../images/finger.svg");
  fill: var(--accent-color);
}    */

 /*.menu-link .current:hover::after {
  content: ""; /*обовязкова властивысть псевдоелемента, для йоно створення досить залишити пустим*/
  /*position: absolute; /* ! на предка назначити  position: relative;*/
 /* position: relative;
      display: flex;
      left: 453px;
  bottom: 0;
  width: 49px;
  height: 4px;
  background-color: var(--accent-color);
    outline: 1px solid tomato; /* слой /
  border-radius: 2px; */
 
.li-site-nav{
  position: relative;
 }
.current::after {   /* клас з   <a class="link current" href="./index.html">Студия</a> */
  content: "";
  position: absolute; /* ! на батька задати ссилку  position: relative; +++ -> вище */
  width: 100%;
  height: 4px;
  left:0;
  bottom:0;
  background: var(--accent-color);
  border-radius: 2px; 
  align-items: center;
}
  

/* main */
/* end main */


/*  footer,  для portfolio, index */
.flexbox {
  display: flex;
}
/*footer background #2F303A*/

footer {
     /*  центрування  */
    /*margin: 0 auto;*/
  margin left: auto;
  margin right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
/*  padding-left: 15px;
  padding-right: 15px; */
  background-color: var(--secondary-bckgr-color);
  color: var(--primary-white-color);
}
.block-adr{
  display: block;
  direction: column;
}

/* logo */
.logo-white {
  color: var(--primary-white-color);
}
/* address */
.address {
  width: 231px;
  margin-right: 70px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71; /* or 171% */
  letter-spacing: 0.03em;
}
.aus-footer {
  display: block;
  margin-top: 9px; 
  color: var(--secondary-grey-color);
  direction: column;
  transition: color 250ms  var(--timing-function),
  opacity 250ms  var(--timing-function);
}
.aus-footer:hover,
.aus-footer:focus {
  /*ефект наведення M.2,Веб.З: 1.47.20 */
  color: var(--accent-color);
}
.soccontact{
  /* padding-top: 75px;
 padding-bottom: 97px; */
 width: 206px;
 margin-top: 15px;
 margin-bottom: 34px;
 margin-right: 93px;
} 
.soccontact-title {
margin-top: 0;
/*margin-bottom: 20px;*/
font-weight: 700;
font-size: 14px;
line-height: 1.45;
letter-spacing: 0.03em;
 color: var(--primary-white-color);
}

/***  сщціальні  компоненти  ***/

.socialf {
  /* позиціонуємо елементи <ul>  в ряд, Практ. №8 1.50.59 */
  display: flex;
  justify-content: center; 
  padding-bottom: 0; 
  margin-top: 20px;
}
.socialf__item:not(:last-child) {
  /* елементи <li> */
  margin-right: 10px;
}
.socialf__icon {
  /* іконка <svg>*/
  height: 20px;
  width: 20px;
  fill: var(--button-bckgr-color); /* перед цим з sprite.svg видалити fill */
  transition: fill 250ms  var(--timing-function), 
  opacity 250ms var(--timing-function);
}
 .socialf__link{
  /* ссилка <a> */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.socialf--link-color{
  background-color: var(--social-grey-color);
  transition: background-color 250ms  var(--timing-function),
  opacity 250ms  var(--timing-function);
  /*  background-color: var(--primary-white-color); */
}
.socialf__link:hover {
  /* задаємо колір на ссилку при hover, Практ. №8 2.04.20  */
  background-color: var(--accent-color);
}
.socialf__item .socialf__link:hover .socialf__icon {
    /* hover на ссилку */
  fill: var(--primary-white-color);
}

/*  .social {
 fill: var(--accent-color);
} */

.telegram-contact{
  /* padding-top: 75px;
 padding-bottom: 97px; */
 width: 570px;
 height: 86px;
 margin-top: 12px;

} 
.telegram-title {
margin-top: 0;
left: 0;
/*margin-bottom: 20px;*/
font-weight: 700;
font-size: 14px;
line-height: 1.45;
letter-spacing: 0.03em;
 color: var(--primary-white-color);
}
.body-telegram {
    display: flex ;
    position: relative;
    padding-top: 20px;
  }
  
 .box-telegram {
   display: flex ;
  position: relative;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bckgr-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px ;
}
.font-telegram {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  }


.filter-btn__btn-p {
  display: flex; /*щоб розвернути в горизонталь і запрацювали  padding горизонталі */
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 50px;
  border-radius: 4px;
  padding-left: 28px; 
  padding-right: 28px ;
 
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  border-style: none;
  /* border-color робимо прозорим якщо border є  transparent ; opacity: 0.5; */

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  text-align: center;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}
  .icon-send {
   display: inline-block; 
   fill: var(--primary-white-color);
   margin-left: 12px;
   transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.filter-btn__btn-p:hover,
.filter-btn__btn-p:focus {
  background-color: var(--accent-color);
  color: var(--secondary-grey-color);
  fill: var(--secondary-grey-color);
}