.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1024px;
  background-color: var(--noel-color);
  /* overflow: auto; /* скрол */
  transition: opacity 250ms var(--timing-function);
  /* opacity: 1;
  /* visibility: visible;*/
}
.backdrop .is-hidden {
  /* "вскрыть" - спеціальні класи */
  opacity: 0; /* 1 прозорість 100%; або 0 - 0% */
  /* visibility: hidden; /* блокує елементи під оверлеєм коли вікна backdrop вскрите */
  pointer-events: none; /* =вказівника позиція; none означає, що за умови дії класу is-hidden на елемент не діють події*/
}
.backdrop .is-hidden .modal-w {
  transform: translate(-50%, 100%) scale(0.1);
}

.modal-w {
  position: fixed; /* ! рекомендується 1)позиція, 2)геометрія, 3) інше */
  /* left: 529px;
  top: 221px; */
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;

  /* позиціювання рекомендується саме таке: transform   JS*/
  transform: translate(-50%, -50%) scale(1.05);
  /* , scale:(1); значення > або < 1 деє ефект прближення чи віддалення вікна*/
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  /*transition: all 250ms;*/
}
.button__modal-close {
  /* close*/
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: calc(30px - 1px);
  border-radius: 50%;
  border: 1px solid var(--title-text-color);
  background-color: var(--primary-white-color);
  transition: background-color 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}
/* overflow: auto; /* скрол */
/* visibility: hidden; */

.icon-modal-close {
  /* іконка <svg>*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color); /* перед цим з sprite.svg видалити fill */
  transition: fill 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.is-hidden {
  top: -100%;
  transform: translate(-50%, -50%);
} /* scale(0.1); */

.button__modal-close:hover {
  /* задаємо колір на ссилку при hover, Практ. №8 2.04.20  */
  /* fill: var(--accent-color); */
  color: var(--accent-color);
}
.modal-w .button__modal-close:hover .icon-modal-close {
  /* hover на ссилку */
  fill: var(--accent-color);
}
.content-modal {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 100%;
}
.modal-title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 0;
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--primary-text-color);
}
.flexbox-modal {
  display: flex;
  flex-direction: column;
}
.form {
  position: relative;
}
.form:not(:last-child) {
  margin-bottom: 10px;
}

.form__input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 37px;
  padding-right: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 4px;
  margin-bottom: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form__input-message {
  display: flex;
  position: relative;
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  color: var(--secondary-bckgr-color);
}

.form__input-checkbox {
  display: block;
  position: relative;

  padding-left: 37px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 100%;
  height: 24px;

  text-align: center;
}

/*.person-black,
.phone-black,
.email-black */
.form__field-icon {
  display: flex;
  position: absolute;
  bottom: 11px;
  left: 12px;
  right: 7px;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  background-color: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form__checkbox,
.form__check {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 13px;
  right: 8px;
  width: 16px;
  height: 16px;
}

.form__checkbox {
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  background-color: var(--primary-white-color);
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}
.form__check {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.form__text-checkbox {
  display: inline-block;
  position: relative;
  margin-left: 0px;
  margin-right: 4px;
  font-size: 92%;
}
.form--link-accent {
  display: inline-block;
  position: relative;
  text-decoration: underline;
  color: var(--accent-color);
}

.form__check::before .form--black-shedow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.butn__shedow {
  filter: drop-shadow(0px 4px 4px var(--butn-background));
  transform: translate(100%, 0%);
}

.form__field {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}
.form__field-m {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); /* use for checkbox */
}
/*
.form__check .span::before {
  content: = "";
  display: inline-block;
  width: 16px;
  height: 16px; 
} 
.form__check:checked + span::before {
  background-color: var(--accent-color);
} */

.form__check:checked + .form__check {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}
.form__check:focus + .form__check {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.privacy input:checked + .checked {
  background-color: #2196f3;
  border-color: #2196f3;
  /* background-position: center; */
  background-size: contain;
  background-image: url(../image/modal-icon/check.svg);
  /* label.user-checkbox>input.user-checkbox[type="user-checkbox"]+span+a  ... дать клас */
}

/*
input:checked + .color-contract{
  color: orange;
}  
.form__check:checked + .form__checkbox {
  fill: var(--primary-white-color);
  background-color: var(--primary-text-color);
}

.span:focus + .form__check {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}   
/*        }     
.form__check:checked + span::before {
  background-color: var(--accent-color);
} */
/************************************
.form__input:checked ~ .form__check {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}
.form__input:focus ~ .form__check {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}   */
/* label.user-checkbox>input.user-checkbox[type="user-checkbox"]+span+a  ... дать клас */

/*.form__check .span::before {
  content: = "";
  display: inline-block;
  width: 16px;
  height: 16px;
}
.form__check:checked + .span {
  color: orange;
}  */
/* перевірка для span 
/*
.email-black:hover,
.form__checkbox:focus {
  fill: var(--secondary-bckgr-color);
  filter: none;
}
 
.form__checkbox:hover,
.form__check:focus {
  background-color: var(--accent-color);
  fill: var(--accent-color);
  color: var(--secondary-grey-color);
} */

/* коли поле в фокусі , немає placeholder і заповнено поле */
.form__input:not(:placeholder-shown),
.form__input:focus {
  border-color: var(--accent-color);
  filter: none;
}
.form__input:not(:placeholder-shown):focus:valid ~ .form__field-icon,
.form__input:focus ~ .form__field-icon {
  /* .email-black:hover,    але не ховерять, бо елемент не клікають*/
  color: gray;
  fill: var(--accent-color);
  filter: none;
}

/*.element class="form__input":not :focus:valid{}  */
.form__input::placeholder {
  font-size: 12px;
  /* text-transform: uppercase;*/
  color: var(--accent-color);
}
.form__input:not(:placeholder-shown):focus:valid {
  color: var(--accent-color);
  border: var(--accent-color);
  filter: none;
}
.form__input:not(:placeholder-shown):focus:valid ~ .form__field-icon .form--black-shedow {
  fill: var(--accent-color);
  filter: none;
}

.form__input:not(:placeholder-shown):focus:invalid {
  color: red;
  border: red;
  filter: none;
}
.form__input:not(:placeholder-shown):focus:invalid ~ .form__field-icon .form--black-shedow {
  fill: red;
}

/*        }     
.form__check:checked + span::before {
  background-color: var(--accent-color);
} */
/************************************
.form__input:checked ~ .form__check {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}
.form__input:focus ~ .form__check {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}   */
