.site-header {
  @include flexBox(space-between, center);

  border-bottom: 1px solid getColor("butn-background");
  position: relative;

  &__logo {
    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__contacts {
    @include flexBox(space-between, start);
   }

  &__item {
       &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
      }
  }

  &__link {
    @include fontParam(14px, 500, 1.14, 0.03em);

    @include transition(color);

    padding-top: 32px;
    padding-bottom: 32px;
    color: getColor("title-text-color");
  }

  &__icon {
    margin-right: 10px;
    fill: getColor("title-text-color");
  }
}

.site-header__link {
  @include flexBox(center, center);

  &:hover,
  &:focus {
    color: getColor("accent-color");
    cursor: pointer;
  }

  &:hover .site-header__icon,
  &:focus .site-header__icon {
    fill: getColor("accent-color");
  }
}

.site-header__icon {
  &--phone {
    width: 10px;
    height: 16px;
   }
  
  &--mail {
    width: 16px;
    height: 12px;
  }
}
