.service {
  @extend %sectionPadding;

  &__list {
    @include flexBox(center, stretch);
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    width: calc((100% - 30px * 3) / 3);
    position: relative;
    margin: 15px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__text {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 27px;
    padding-top: 27px;
    width: 100%;

    text-align: center;
    color: getColor("primary-white-color");
    background: getColor("field-color");
  }
}
